body {
    background-color: rgb(0, 0, 0);
    text-align: left;
}

p {
    color: rgb(255, 255, 255);
}

h1 {
    font-style: italic;
    color: rgb(255, 255, 255);
}
.morango{
    color:rgb(122, 47, 47)
    font-size: 20px
}
.img1{
    width:50%;
    text-align: left;
}
